@page
@model PrivacyModel
@{
    ViewData["Title"] = "Pricing";
}
<h1>@ViewData["Title"]</h1>

<div class="card-group">
    <div class="card" style="width: 18rem;">
        <div class="card-header text-white bg-info">Basic</div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">$49.99/month</h6>
            <p class="card-text">These will be the features included in the basic package</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-header text-white bg-info">Premium</div>
        <div class="card-body ">
            <h6 class="card-subtitle mb-2 text-muted">$99.99/month</h6>
            <p class="card-text">These will be the features included in the premium package</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-header text-white bg-info">Enterprise</div>
        <div class="card-body ">
            <h6 class="card-subtitle mb-2 text-muted">$149.99/month</h6>
            <p class="card-text">These will be the features included in the enterprise package</p>
        </div>
    </div>
</div>